*.o.d
*.o
*.o.cmd
*.cmd
*.mod
*.mod.c
*.mod.o
*.ko
.Module.symvers.cmd
Module.symvers.cmd
Module.symvers
modules.order
/bin
.vscode
*.patch

*.log
*.out

*.ignore
*.gitignore
ignore/

*.archive
archive/

build/